<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/jpg" href="static/favicon.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <nav class="relative px-4 py-4 flex justify-between items-center bg-white shadow-lg shadow-cyan-500/50">
		<a class="text-3xl font-bold leading-none" href="/">
			
            <span style="font-family: 'Black Ops One', cursive;">SquareFields</span>
		</a>
		<div class="lg:hidden">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
			<li><a class="text-sm text-gray-900  p-2 hover:bg-blue-600 hover:text-white rounded-lg" href="/">Home</a></li>
			<li><a class="text-sm text-gray-900 p-2 hover:bg-blue-600 hover:text-white rounded-lg" href="/about">About Us</a></li>
			
			<li><a id="my-button" class="text-sm text-gray-900  p-2 hover:bg-blue-600 hover:text-white rounded-lg" href="#">Our Customers</a></li>
			
			<li><a class="text-sm text-gray-900  p-2 hover:bg-blue-600 hover:text-white rounded-lg" href="/price">Pricing</a></li>
			
			
		</ul>
		
		<a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" href="/contact">Contact Us</a>
	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
			<div class="flex items-center mb-8">
				
				<button class="navbar-close">
					<svg class="h-6 w-6 text-gray-400 cursor-pointer " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
                
			</div>
			<div>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="/">Home</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="/about">About Us</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Our Customers</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="/price">Pricing</a>
					</li>
					
				</ul>
			</div>
			<div class="mt-auto">
				<div class="pt-6">
					
					<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="/contact">Contact Us</a>
				</div>
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2023</span>
				</p>
			</div>
		</nav>
	</div>

	<section class="text-gray-600 body-font overflow-hidden">
		<div id="my-alert" class="hidden flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="alert">
			<svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
			<p>This page will be available soon !</p>
		  </div>
		<div class="container px-2 py-4 mx-auto">
		  <div class="lg:w-4/5 mx-auto flex flex-wrap">
			<img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="static/brochure.jpg" height="400" width="400">
			<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
			  
			 
			  <div class="flex mb-4">
				 <h1 class="text-gray-900 text-5xl title-font font-medium mb-1" style="font-family: 'Righteous', cursive;">About Us</h1><div class="h-8 w-1 border-l border-gray-300 px-2 ml-2"></div><span class="flex mb-4">
				  <a class="text-gray-500 cursor-pointer hover:text-gray-700" href="">
					<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
					  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
					</svg>
				  </a>
				  <a class="text-gray-500 cursor-pointer hover:text-gray-700" href="">
					<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
					  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
					</svg>
				  </a>
				  <a class="text-gray-500 cursor-pointer hover:text-gray-700" href="">
					<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
					  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
					</svg>
				  </a>
				</span>
			  </div>
			  <p class="leading-relaxed">Welcome to Property Mall, a leading real estate development company specializing in the Dewas district. Our flagship project, Rudraaksh, is a vibrant and growing community that offers its residents a unique blend of convenience, comfort, and affordability.<br>

				As the Dewas district prepares to be surrounded by the largest airport in Asia, now is the perfect time to invest in real estate. At Property Mall, we understand the importance of turning your lifetime savings into a valuable asset, which is why we are dedicated to providing our customers with a wide range of high-quality and affordable housing options.<br>
				
				Our projects at Rudraaksh include Rudraaksh Pride, Rudraaksh Premium, Rudraaksh Prime, Rudraaksh Grand, Rudraaksh Green, and Rudraaksh Home. Each of these projects offers its own unique features and amenities, designed to meet the diverse needs of our customers.<br>
				
				At Property Mall, we believe that our success lies in our commitment to providing top-notch customer service. Our team is highly knowledgeable and dedicated to ensuring your satisfaction throughout the entire process. From helping you choose the perfect property, to guiding you through the buying process, we are here to help.<br>
				
				So if you're looking for a once-in-a-lifetime investment opportunity in the Dewas district, look no further than Property Mall and our flagship project, Rudraaksh. Contact us today for the best deals on our properties. We look forward to helping you turn your dreams into a reality.</p>
			</div>
		  </div>
		</div>
	  </section>
	  
	  
</body>
<footer class="text-gray-600 body-font">
	<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
	  <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
		
		<span style="font-family: 'Black Ops One', cursive;">SquareFields</span>
	  </a>
	  <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 SquareFields—
		<a href="https://www.instagram.com/ritesh.malviya_/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@ritesh.malviya_</a>
	  </p>
	  <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
		<a class="text-gray-500 hover:text-gray-700 cursor-pointer">
		  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
		  </svg>
		</a>
		<a class="ml-3 text-gray-500 hover:text-gray-700 cursor-pointer">
		  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
		  </svg>
		</a>
		<a class="ml-3 text-gray-500 hover:text-gray-700 cursor-pointer" href="https://www.instagram.com/SquareFields12/" target="_blank">
		  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
			<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
		  </svg>
		</a>
	  </span>
	</div>
  </footer>
<script src="static/app.js"></script>
<script>
	const myButton = document.getElementById('my-button');
	const myAlert = document.getElementById('my-alert');
	
	myButton.addEventListener('click', () => {
	  myAlert.classList.remove('hidden');
	  setTimeout(() => {
		myAlert.classList.add('hidden');
	  }, 8000);
	});
	</script>
</html>